@using System.Web.UI.WebControls
@using edueTree.Helpers
@model List<edueTree.Models.MonthllyAttendanceModel>
@{
    ViewBag.Title = "GenerateAttendance";
}


@{
    var monthList = new SelectList(new[]
    {
        new SelectListItem {Text = "Select Month", Value = null, Selected = true},
        new SelectListItem {Text = "January", Value = "1"},
        new SelectListItem {Text = "February", Value = "2"},
        new SelectListItem {Text = "March", Value = "3"},
        new SelectListItem {Text = "April", Value = "4"},
        new SelectListItem {Text = "May", Value = "5"},
        new SelectListItem {Text = "June", Value = "6"},
        new SelectListItem {Text = "July", Value = "7"},
        new SelectListItem {Text = "August", Value = "8"},
        new SelectListItem {Text = "September", Value = "9"},
        new SelectListItem {Text = "October", Value = "10"},
        new SelectListItem {Text = "November", Value = "11"},
        new SelectListItem {Text = "December", Value = "12"},
    }, "Value", "Text");



    var yearList = new SelectList(new[]
    {
        new SelectListItem {Text = "Select Year", Value = null, Selected = true},
        new SelectListItem {Text = "2016", Value = "2016"},
        new SelectListItem {Text = "2017", Value = "2017"},
        new SelectListItem {Text = "2018", Value = "2018"},
        new SelectListItem {Text = "2019", Value = "2019"},
        new SelectListItem {Text = "2020", Value = "2020"},
        new SelectListItem {Text = "2021", Value = "2021"},
        new SelectListItem {Text = "2022", Value = "2022"},
        new SelectListItem {Text = "2023", Value = "2023"},
        new SelectListItem {Text = "2024", Value = "2024"},
        new SelectListItem {Text = "2025", Value = "2025"},

    }, "Value", "Text");
}


@*@if (TempData["message"] != null)
    {
        <div id="note1">
            <h4>
                <font color="black">
                    <p>
                        <div class="text-danger">@TempData["message"]</div>
                    </p>
                    <a id="close"><font color="black">[close]</font></a>
                </font>
            </h4>
        </div>
    }*@




<section class="content-header">
    <h1>
        @*Generate attendance*@
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Attendance</a></li>
        <li class="active">All emp</li>
    </ol>
</section>


@*<section class="content">
    <div class="row">
        <section class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-search"></i>
                    <h3 class="box-title">Search Options - For Generate Attendance (Select Month & Year)</h3>
                    <div class="pull-right">
                    </div>
                </div>

                <div class="box-body chat">
                    <div class="item">
                        @using (Html.BeginForm("GenerateAttendance", "Attendance", FormMethod.Get))
                        {
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.TextBox("datepicker", null, new { id = "datepicker1", @class = "form-control", @placeholder = "From Date" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.TextBox("datepicker2", null, new { id = "datepicker2", @class = "form-control", @placeholder = "To Date" })
                                    </div>

                                    <div class="col-md-1">
                                        <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-filter"></i> Filter</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>*@

<section class="content">
    <div class="row">
        <section class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-calendar"></i>
                    <h3 class="box-title">
                       Attendance Details
                        @*(@Html.DisplayFor(a => a.FirstOrDefault().MonthString, new { id = "intmonth" }) - @Html.DisplayFor(a => a.FirstOrDefault().Year, new { id = "intyear" }))*@
                    </h3>
                    @*<div class="pull-right">
                            <td>
                                <a href='@Url.Action("GeneratedReport", new { month = Request.QueryString["month"], year = Request.QueryString["year"] })'><i class="fa fa-pencil-square fa-2x"></i></a>
                            </td>
                        </div>*@
                </div>

                <div class="box-body chat">
                    <div class="table-responsive">

                        <table id="StructureTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    @*<th></th>*@
                                    <th>Employee Name</th>
                                    @*<th>MD</th>
                                    <th>WD</th>
                                    <th>PR</th>
                                    <th>AB</th>*@
                                    <th>PMCom</th>
                                    <th>CMCom</th>
                                    @*<th>UCom</th>*@
                                    <th>FCom</th>
                                    @*<th>PL</th>*@
                                    <th>WO</th>
                                    <th>HD</th>
                                    @*<th>Month</th>
                                    <th>Year</th>*@
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @*<td>@Html.DisplayFor(modelItem => item.StaffId)</td>*@
                                        <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                                        @*<td>@Html.DisplayFor(modelItem => item.MonthDays)</td>
                                        <td>@Html.DisplayFor(modelItem => item.WorkingDays)</td>
                                        <td>@Html.DisplayFor(modelItem => item.AttendDays)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Absent)</td>*@
                                        <td>@Html.DisplayFor(modelItem => item.PreviousMonthEarnComp)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CurrentMonthEarnComp)</td>
                                        @*<td>@Html.DisplayFor(modelItem => item.UsedCompansation)</td>*@
                                        <td>@Html.DisplayFor(modelItem => item.ForwordComp)</td>
                                        @*<td>@Html.DisplayFor(modelItem => item.PaidLeaves)</td>*@
                                        <td>@Html.DisplayFor(modelItem => item.WeeklyOff)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Holidays)</td>
                                        @*<td>@Html.DisplayFor(modelItem => item.Month)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Year)</td>*@
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @*<center><input type="submit" value="Store generated attendance sheet" class="btn btn-default" onclick=" dataStore(); " /></center>*@
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>



<script type="text/javascript">
    function dataStore() {

        var table = document.getElementById("StructureTable");
        var rowCount = table.rows.length;

        var staffIds = new Array();
        var monthDays = new Array();
        var presents = new Array();
        var absents = new Array();
        var paidLeaves = new Array();
        var weeklyOff = new Array();
        var usedCompansation = new Array();
        var currentMonthCompansation = new Array();
        var preMonthCompansation = new Array();
        var earnCompansation = new Array();
        var month = new Array();
        var year = new Array();
        var holidays = new Array();
        console.log(month, year);

        var j = 0;
        for (var i = 1; i < rowCount; i++) {
            var row = table.rows[i];
            var idbox = row.cells[0].childNodes[0].textContent;
            if (idbox !== "0") {

                staffIds[j] = idbox;
                monthDays[j] = row.cells[2].childNodes[0].textContent;
                presents[j] = row.cells[4].childNodes[0].textContent;
                absents[j] = row.cells[5].childNodes[0].textContent;
                paidLeaves[j] = row.cells[10].childNodes[0].textContent;
                weeklyOff[j] = row.cells[11].childNodes[0].textContent;
                holidays[j] = row.cells[12].childNodes[0].textContent;
                currentMonthCompansation[j] = row.cells[7].childNodes[0].textContent;
                preMonthCompansation[j] = row.cells[6].childNodes[0].textContent;
                usedCompansation[j] = row.cells[8].childNodes[0].textContent;
                earnCompansation[j] = row.cells[7].childNodes[0].textContent;
                month[j] = row.cells[13].childNodes[0].textContent;
                year[j] = row.cells[14].childNodes[0].textContent;

                j += 1;
            }
        }
        jQuery.ajax({
            type: "POST",
            url: "/Attendance/GenerateAttendanceDataStore",
            data: { staffIds: JSON.stringify(staffIds), monthDays: JSON.stringify(monthDays), presents: JSON.stringify(presents), absents: JSON.stringify(absents), paidLeaves: JSON.stringify(paidLeaves), weeklyOff: JSON.stringify(weeklyOff), holidays: JSON.stringify(holidays), usedCompansation: JSON.stringify(usedCompansation), currentMonthCompansation: JSON.stringify(currentMonthCompansation), preMonthCompansation: JSON.stringify(preMonthCompansation), earnCompansation: JSON.stringify(earnCompansation), Month: JSON.stringify(month), Year: JSON.stringify(year) },
            datatype: "json",
            success: function (response) {
                var p = JSON.stringify(response);
                var q = JSON.parse(p);
                //alert(q.message);
                if (q.message != null) {
                    document.getElementById("msg").innerText = q.message;
                }
            }
        });
    }

</script>


<!--This code is for Datatable js Serarching sorting and pagination-->
<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

    });
</script>



<!--_This is notify js code.-->
<script type="text/javascript">
    $.noConflict();
    jQuery(document).ready(function () {
        if (true) {
            if ('@TempData["message"]' === "success") {
                $.notify(" Record Inserted  Successfully ! ", "success");
            }
            if ('@TempData["message"]' === "update") {
                $.notify(" Record Updated  Successfully ! ", "success");
            }
            if ('@TempData["message"]' === "exist") {
                $.notify(" Record Already Exist ! ", "warn");
            }
            if ('@TempData["message"]' === "delete") {
                $.notify(" Record Deleted Successfully ! ", "success");
            }
            if ('@TempData["message"]' === "cantdelete") {
                $.notify(" Can't delete, because this used some where. ! ", "warn");
            }
            if ('@TempData["message"]' === "wrong") {
                $.notify(" Something went wrong plz check ! ", "error");
            }
            if ('@TempData["AlreadyGenerate"]' === "select") {
                $.notify(" Select From Date and To Date ", "error");
            }
        }

    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#datepicker2').datepicker({
            dateFormat: "dd/mm//yy",
            autoclose: true
        });

        $('#datepicker1').datepicker({
            dateFormat: "dd/mm/yy",
            autoclose: true
        });

    });


</script>