@model edueTree.Models.StructureSalaryModel
@{
    ViewBag.Title = "Edit salary Structure";
}

<section class="content-header">
    <h1>
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Salary Structure</a></li>
        <li class="active">Edit</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="box box-success">
                    <div class="box-header">
                        <i class="fa fa-check-square"></i>
                        <h3 class="box-title">Edit Structure</h3>

                    </div>
                    <div class="box-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.FirmId)
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.StuctureName, "Salary Structure Name", new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.StuctureName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StuctureName)
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="box-footer">

                        <input type="submit" value="Update" class="btn btn-default pull-right" />
                        <a href='@Url.Action("Create")' class="btn btn-default pull-left">Back to list</a>

                    </div>
                </div>
            }
        </div>
        <div class="col-md-3"></div>
    </div>
</section>
