@model IEnumerable<edueTree.Models.StaffDocument>

@{ Layout = null; }



<style type="text/css">
    .bg-teal-gradient {
        color: #000000;
    }

    .modal {
        top: 38px;
    }

    .modal {
        background: rgba(0, 0, 0, 0.0) none repeat scroll 0 0;
    }
</style>


<div class="box box-primary">
    <div class="box-header">
        <i class="fa  fa-file-text"></i>
        <h3 class="box-title">Staff documents</h3>
        <div class="pull-right" title="Add Document">
            @if (ViewBag.message == true)
            {
                <a href='@Url.Action("Create", new {stafId = ViewData["staffId"]})' class="btn btn-primary"><i class="fa fa-plus"></i>Add Staff Documents</a>
            }
        </div>
    </div>

    @{
        int? stafId = null;
        <div class="box-body">
            <table class="table responsive">
                <tr>
                    @*<th>
                            @Html.DisplayName("Staff / Emp Code")
                        </th>*@
                    <th>
                        @Html.DisplayName("Title")
                    </th>
                    <th>
                        @Html.DisplayName("Download")
                    </th>
                    <th>
                        @Html.DisplayName("Delete")
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    stafId = item.staffId;
                    <tr>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Staff.staffCode)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.title)

                        </td>
                        <td>
                            @if (ViewBag.message == true)
                            {
                                <a href="~/StaffDocument/@item.attachedDoc" download><i class="fa fa-download"></i></a>
                            }

                        </td>
                        <td>
                            @if (ViewBag.message == true)
                            {
                                <a data-toggle="modal" data-target="#myModalDocDelete" href='@Url.Action("Delete", new {id = item.docId, Staffid = ViewData["staffId"]})'><i class="fa fa-trash"></i></a>
                            }

                        </td>
                        <div class="modal fade" id="myModalDocDelete" role="dialog"></div>
                    </tr>
                }

            </table>

        </div>

        <div class="box-footer">

        </div>
    }

</div>
