@model edueTree.Models.PayrollConfigModel
@{
    ViewBag.Title = "Edit";
    var activeList = new SelectList(new[]
    {
        new SelectListItem {Text = "Active", Value = true.ToString()},
        new SelectListItem {Text = "Inactive", Value = false.ToString()},

    }, "Value", "Text");
}


<section class="content-header">
    <h1>
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> BufferTime</a></li>
        <li class="active">Edit</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            @using (Html.BeginForm())
            {
                <div class="box box-success">
                    <div class="box-header">
                        <i class="fa fa-check-square"></i>
                        <h3 class="box-title">Edit Payroll System Setting </h3>
                    </div>
                    <div class="box-body chat" id="chat-box">
                        <div class="item">
                            @Html.AntiForgeryToken()
                            <div class="">
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.FirmId)
                                <div class="form-group">

                                    @*<div class="col-md-12">
                                            <label>Monthly Leaves</label>
                                            @Html.TextBoxFor(m => m.MonthlyLeaves, new { @class = "form-control", onkeypress = "return isNumber(event)" })
                                            @Html.ValidationMessageFor(model => model.MonthlyLeaves)
                                        </div>*@


                                    <div class="col-md-12">
                                        <label>Working Hours Per Day</label>
                                        @Html.TextBoxFor(model => model.WorkingHoursDay, new { id = "FullDay", @class = "form-control", placeholder = "hh:mm:ss"})
                                        @Html.ValidationMessageFor(model => model.WorkingHoursDay, string.Empty, new { @class = "help-block" })
                                    </div>

                                    @*<div class="col-md-12">
                                        <label>Min Hour Work Per Day</label>
                                        @Html.TextBoxFor(model => model.HalfDayMinWorkHours, new { id = "HalfDay", @class = "form-control", placeholder = "hh:mm:ss", required = "required" })
                                        @Html.ValidationMessageFor(model => model.HalfDayMinWorkHours)
                                    </div>*@

                                    @*<div class="col-md-12">
                                            <label>Working Days Per Month</label>
                                            @Html.TextBoxFor(model => model.WorkingdaysPermonth, new { @class = "form-control", placeholder = "Min working days per month" })
                                            @Html.ValidationMessageFor(model => model.WorkingdaysPermonth)
                                        </div>*@


                                    <div class="col-md-12">
                                        <label>Status</label>
                                        @Html.DropDownListFor(model => model.isActive, activeList, new {id = "IsActive", @class = "form-control"})
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <input type="submit" value="Update" class="btn btn-default pull-right"/>
                        <a href='@Url.Action("UpdateSetting", "LeaveRequest")' class="btn btn-default pull-left">Back to list</a>
                    </div>

                </div>
            }
        </div>
        <div class="col-md-3"></div>
    </div>
</section>

<script type="text/javascript">
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    //$(function () {
    //    $("#HalfDay").on('change', function () {
        
    //        var fullDay = document.getElementById("FullDay").value;
    //        var halfday = document.getElementById("HalfDay").value;
          
    //        var hh = halfday.split(":");
    //        var ss = fullDay.split(":");
    //        var hour = ss[0];
    //        var hhhour = hh[0];

    //        if (hour < hhhour) {
    //            alert("Half Day less than full Day");
    //            document.getElementById("HalfDay").value = "";
    //            return false;
    //        }
         

    //    });
    //});

</script>