@model IEnumerable<edueTree.Models.TblEmailConfig>
@{
    Layout = null;
}

@using edueTree.Helpers
@using PagedList.Mvc;
<style type="text/css">
    div.DTTT_container {
        float: none;
        text-align: center;
    }
</style>

<div class="box box-success">
    <div class="box-header">
        <i class="fa fa-calendar"></i>
        <h3 class="box-title">Email Configure Setting</h3>       
    </div>
    <div class="box-body">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayName("Configure Email")
                </th>
                <th>@Html.DisplayName("Configure Password")</th>
                <th>@Html.DisplayName("SMTP Port No")</th>
                <th>@Html.DisplayName("Host Name")</th>
                <th>@Html.DisplayName("Status")</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SMTPPortNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HostName)
                    </td>

                    @if (item.isActive == true)
                    {
                        <td>
                            <b style="color: red">   @Html.DisplayName("Active")</b>
                        </td>
                    }
                    else
                    {
                        <td><b style="color: yellowgreen">  @Html.DisplayName("Pending") </b></td>
                    }

                    <td>
                        @Html.EncodedActionLink("<i class='fa fa-pencil-square'></i>", "EditEmailConfig", "MasterSetting", new { id = item.EmailConfigId }, null)
                    </td>
                    <td>
                        <a data-toggle="modal" data-target="#myModalDeptDelete" href='@Url.Action("DeleteEmailConfig", new { id = item.EmailConfigId })'><i class="fa fa-trash"></i></a>
                    </td>

                </tr>
            }
        </table>
        <div class="modal fade" id="myModalDeptDelete" role="dialog"></div>

    </div>
</div>
<script>
    $(function () {
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

    });

</script>