@model edueTree.Models.StaffEducation

<section class="content-header">
    <h1>
        Manage staff education details
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Staff</a></li>
        <li class="active">Edit</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <section class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-comments-o"></i>
                    <h3 class="box-title">Edit</h3>

                </div>
                <div class="box-body chat" id="chat-box">
                    <div class="item">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                <hr />
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.eduId)
                                @Html.HiddenFor(model => model.staffId)
                                <div class="form-group">
                                    @Html.Label("Degree:", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.degreeId, Model.DegreeList, "- Select Degree -", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.degreeId)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Subject:", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.degreeSubId, Model.DegreeSubjectList, "- Select Subject -", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.degreeSubId)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Addmission year:", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.addmissionYear, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.addmissionYear)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Passing year:", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.passingYear, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.passingYear)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Persentage (%):", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.persentage, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.persentage)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("University:", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.university, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.university)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default"/>
                                        <a href='@Url.Action("StaffProfile", "Staffs")'> Cancel</a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
               
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
