@model IEnumerable<edueTree.Models.MonthllyAttendanceModel>
@{
    ViewBag.Title = "BonusReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/plugins/select2/select2.css" rel="stylesheet" />
<script src="~/plugins/select2/select2.js"></script>

<script type="text/javascript">
    $(function () {


        jQuery.ajax({
            type: 'POST',
            url: '/Attendance/GetStaffNew',
            data: {},
            datatype: 'json',
            error:
                            function () {
                                alert("Not any Staff");
                            },
            success: function (response) {

                var items = "";
                $(response.SubcatId).each(function (i, item) {
                    if (i == 0) {
                        items += "<option value=\"" + 0 + "\">Select Employee</option>";
                    }
                    else {
                        items += "<option value=\"" + item + "\">" + response.Subcat[i] + "</option>";
                    }
                });

                $("#empId").html(items);
                if (strUser !== 0) {
                    $("#empId option:selected").text(strUser);
                }
            }
        });
    });
</script>



<section class="content-header">
    <h1>
        @*Manage Permission*@
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Bonus </a></li>
        <li class="active">History</li>
    </ol>
</section>

<section class="col-md-12">
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-search"></i>
            <h3 class="box-title">Bonus Search Options</h3>
        </div>

        <div class="box-body chat">
            <div class="item">
                <div class="form-horizontal">

                    @using (Html.BeginForm("BonusReport", "CTC", FormMethod.Get))
                    {
                         <div class="col-md-3">Search Employee Wise Bonus</div>
                        <div class="col-md-3">
                            <select id="empId" name="empId" class="form-control select2"></select>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-filter"></i> Filter</button>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <section class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-calendar"></i>
                    <h3 class="box-title">Staff bonus history</h3>
                   
                </div>
                <div class="box-body chat" id="chat-box">
                    <div class="item">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="active">

                                        <th>
                                            @Html.DisplayName("Employee Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Month")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Year")
                                        </th>
                                        <th>@Html.DisplayName("Amount")</th>
                                        <th>
                                            @Html.DisplayName("Head Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Narration")
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployeeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Month)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Year)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalAmount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HeadName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Narration)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<script>
    $(function () {
        //$.noConflict();
        //$("#example1").DataTable();
        $(".select2").select2();
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

    });

</script>
@*<style type="text/css">
        div.dt-buttons {
            position: relative;
            float: right;
        }
    </style>*@