@model edueTree.Models.WorkExperiance

@{
    Layout = null;
}



<section class="content">
    <section class="col-md-4 col-md-offset-3">
        <div class="box box-success">
            <div class="box-header">
                <i class="fa fa-exclamation-triangle"></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="box-title"> Are you sure you want to delete?</h4>
            </div>
            <div class="box-body chat" id="chat-box">
                <div class="item">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <hr/>

                        <br/>

                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-10">
                                <input type="submit" value="OK" class="btn btn-default" />&nbsp;&nbsp;
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                        <br/>
                        <br/>
                    }
                </div>
            </div>

            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </section>


</section>




















@*<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete? </h3>
    <div>
        <h4>WorkExperiance</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.organizationName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.organizationName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JoiningDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JoiningDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.releaseDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.releaseDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.designation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.designation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.attachedCertificate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.attachedCertificate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Staff.staffCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Staff.staffCode)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>*@
