@model IEnumerable<edueTree.Models.TblFormEvaluator>

<section class="content">
    <div class="row">
        <section class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-calendar"></i>
                    <h3 class="box-title"> Employee's Evaluators List</h3>

                </div>
                <div class="box-body chat" id="chat-box">
                    <div class="item">
                        <div class="table-responsive">
                            <table style="overflow-x: scroll; white-space: nowrap;" class="table table-striped ">
                                <thead>
                                    <tr>
                                        <th>
                                            Employee Name
                                        </th>
                                        <th>
                                            Evaluators Name
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var group in Model.GroupBy(x => x.Staff.staffCode +":"+ x.Staff.firstName))
                                        {
                                            <tr class="group-header">

                                                <td>
                                                    @group.Key
                                                </td>

                                                @foreach (var item in group)
                                                {
                                                    <td>@item.Staff1.firstName - @item.Staff1.lastName</td>
                                                }
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


<script>
    $(function () {
        $(document).ready(function () {
            $(".table").DataTable({
                dom: "Bfrtip",
                buttons: [
                    "copy", "csv", "excel", "pdf", "print"
                ]
            });
        });

    });

</script>

<script type="text/javascript">
    $(".select2").select2();
    $.noConflict();
    jQuery(document).ready(function () {
        if (true) {
            if ('@TempData["notice"]' === "success") {
                $.notify(" Record Inserted  Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "update") {
                $.notify(" Record Updated  Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "exist") {
                $.notify(" Record Already Exist ! ", "warn");
            }
            if ('@TempData["notice"]' === "delete") {
                $.notify(" Record Deleted Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "cantdelete") {
                $.notify(" Can't delete, because this used some where. ! ", "warn");
            }
        }

    });
</script>