@model edueTree.Models.FormAssignModel

<link href="~/plugins/select2/select2.css" rel="stylesheet" />

<script src="~/plugins/select2/select2.js"></script>
<section class="content-header">
    <h1>
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Performance</a></li>
        <li class="active">Form Assign to Employee</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("FormAssignEdit", "Performance"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(s => s.FormAssignmentId)
                @Html.HiddenFor(s => s.firmId)
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title"> Form Assign To Employee</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-md-6">
                            <label>Select Form </label>
                            @Html.DropDownList("feedformId", (SelectList)ViewBag.FormList, "--Choose Section--", new { @class = "form-control", required = "required" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Select Employee </label>
                                @Html.DropDownListFor(model => model.EmployeeassignId, Model.StaffList, new { id = "EmployeeassignId", @class = "form-control select2", required = "required" })
                                @Html.ValidationMessageFor(model => model.EmployeeassignId, string.Empty, new { @class = "help-block" })


                                @*@Html.DropDownList("EmployeeassignId", (SelectList)ViewBag.StaffList, "--Choose Employee--", new { @class = "form-control", required = "required" })*@
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" value="Update" class="btn btn-default pull-right" />
                        <a href='@Url.Action("FormAssignmentToEmp")' class="btn btn-default pull-left">Back to list</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<script type="text/javascript">
    $(".select2").select2();
    $.noConflict();
    jQuery(document).ready(function () {
        if (true) {
            if ('@TempData["notice"]' === "success") {
                $.notify(" Record Inserted  Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "update") {
                $.notify(" Record Updated  Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "exist") {
                $.notify(" Record Already Exist ! ", "warn");
            }
            if ('@TempData["notice"]' === "delete") {
                $.notify(" Record Deleted Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "cantdelete") {
                $.notify(" Can't delete, because this used some where. ! ", "warn");
            }
        }

    });
</script>
