@model edueTree.Models.SectionModel
@{
    
}
<section class="content-header">
    <h1>
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Performance</a></li>
        <li class="active">Add Section</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("SectionCreate", "Performance"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Add Sections</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-md-6">
                            <label>Section </label>
                            @Html.TextBoxFor(model => model.SectionName, new { id = "", @class = "form-control ", required = "required" })
                            @Html.ValidationMessageFor(model => model.SectionName, string.Empty, new { @class = "help-block" })
                        </div>

                       
                    </div>
                    <div class="box-footer">
                        <input type="submit" value="Add" class="btn btn-default pull-right" />
                    </div>
                </div>
            }
        </div>

        <div class="col-md-12">
            @{Html.RenderAction("SectionIndex", "Performance");}
        </div>
    </div>
</section>

<script type="text/javascript">
    $(".select2").select2();
    $.noConflict();
    jQuery(document).ready(function () {
        if (true) {
            if ('@TempData["notice"]' === "success") {
                $.notify(" Record Inserted  Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "update") {
                $.notify(" Record Updated  Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "exist") {
                $.notify(" Record Already Exist ! ", "warn");
            }
            if ('@TempData["notice"]' === "delete") {
                $.notify(" Record Deleted Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "cantdelete") {
                $.notify(" Can't delete, because this used some where. ! ", "warn");
            }
        }

    });
</script>
