@model edueTree.Models.ConfigMachine
<section class="content-header">
    <h1>
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Machine Configuration</a></li>
        <li class="active">Edit</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                <div class="box box-success">
                    <div class="box-header">
                        <i class="fa fa-calendar-plus-o"></i>
                        <h3 class="box-title">Update Machine  configure Info</h3>
                    </div>
                    <div class="box-body chat" id="chat-box">
                        <div class="item">
                            <div class="form-horizontal" id="defaultForm">
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label> Machine IP Address</label>
                                        @Html.TextBoxFor(model => model.IPAddress, new {id = "IPAddress", @class = "form-control", placeholder = "Enter IPAddress"})
                                        @Html.ValidationMessageFor(model => model.IPAddress)
                                        <span class="help-block" id="FirmNameMessage"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label> Serial Key</label>
                                        @Html.TextBoxFor(model => model.SerialKey, new {id = "SerialKey", @class = "form-control", placeholder = "Enter Serial Key"})
                                        @Html.ValidationMessageFor(model => model.SerialKey)
                                        <span class="help-block" id="SerialKeymsg"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label> Port</label>
                                        @Html.TextBoxFor(model => model.Port, new { id = "Port", @class = "form-control", placeholder = "enter Port" })
                                        @Html.ValidationMessageFor(model => model.Port)
                                        <span class="help-block" id="Portmsg"></span>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">

                        <input type="submit" value="Update" class="btn btn-default pull-right" />
                        <a href='@Url.Action("Create")' class="btn btn-default pull-left"> Back to list</a>

                    </div>
                </div>
            }
        </div>
    </div>
</section>