@model edueTree.Models.BankInfoModel
@{
    //Layout = null;
    ViewBag.Title = "Create";
}

<section class="content-header">
    <h1>
        @*Event*@
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>BankInfo</a></li>
        <li class="active">Create</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-9">

            @using (Html.BeginForm("Createpost", "BankInfo"))
            {
                <div class="box box-success">
                    <div class="box-header">
                        <i class="fa fa-calendar-plus-o"></i>
                        <h3 class="box-title">Add Bank Info</h3>
                    </div>
                    <div class="box-body">
                        <div class="">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(a => a.StaffId)
                            <div class="form-group">
                                @Html.Label("Bank Name", new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.BankName, new { id = "BankName", @class = "form-control", placeholder = "Bank Name" })
                                    @Html.ValidationMessageFor(model => model.BankName)
                                    <span class="help-block" id="BankNamemsg"></span>

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Account Holder Name", new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.HolderName, new { id = "HolderName", @class = "form-control", placeholder = "Account Holder Name" })
                                    @Html.ValidationMessageFor(model => model.HolderName)
                                    <span class="help-block" id="BankNamemsg"></span>

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Account No:", new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.AccountNo, new { id = "AccountNo", @class = "form-control", placeholder = "Bank AccountNo" })
                                    @Html.ValidationMessageFor(model => model.AccountNo)
                                    <span class="help-block" id="AccountNomsg"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Bank IFSC:", new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.BankIfsc, new { id = "BankIfsc", @class = "form-control", placeholder = "Bank Ifsc" })
                                    @Html.ValidationMessageFor(model => model.BankIfsc)
                                    <span class="help-block" id="BankIfscmsg"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Branch:", new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.Branch, new { @class = "form-control" ,placeholder = "Branch"})
                                    @Html.ValidationMessageFor(model => model.Branch)
                                    <span class="help-block" id="Branchmsg"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" value="Add" class="btn btn-default pull-right" />
                        <a href='@Url.Action("StaffDashboard", "Staffs", new { staffid =Model.StaffId })' class="btn btn-default pull-left">Back to list</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>