@model edueTree.Models.DesignationModel

@{
    ViewBag.Title = "Create";
    //Layout = null;
}


<section class="content-header">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <a data-toggle="modal" data-target="#myModal" class="btn btn-success pull-right">
                    <i class="fa fa-plus-square"></i> Add Designation
                </a>
            </div>
        </div>
    </div>
</section>

<section class="content-header">
    <h1>

        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Designation</a></li>
        <li class="active">Add</li>
    </ol>
</section>

<section class="content">
    <div class="row">
       
            <div id="myModal" class="modal fade" role="dialog">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="box-title"> Add Designation</h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-12">
                                    @Html.ValidationSummary(true)

                                    <div class="form-group">

                                        <label>Designation Name</label>
                                        <div class="col-md-">
                                            @Html.TextBoxFor(model => model.designation1, new {@class = "form-control"})
                                            @Html.ValidationMessageFor(model => model.designation1)
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Add" class="btn btn-default pull-right" />
                            </div>
                        </div>
                    </div>
                }
            </div>
       
        <div class="col-md-12">
            @{Html.RenderAction("Index", "Designation");}
        </div>

    </div>
</section>

<!-- Success Notice-->
<script type="text/javascript">
    $.noConflict();
    jQuery(document).ready(function () {
        if (true) {
            if ('@TempData["notice"]' === "success") {
                $.notify(" Record Inserted  Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "update") {
                $.notify(" Record Updated  Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "exist") {
                $.notify(" Record Already Exist ! ", "warn");
            }
            if ('@TempData["notice"]' === "delete") {
                $.notify(" Record Deleted Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "cantdelete") {
                $.notify(" Can't delete, because this used some where. ! ", "warn");
            }
        }

    });
</script>






