@model edueTree.Models.EsiinfoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<table class="table">
    <tr>
        <td><b>Employer’s Code No.</b></td>
        <td>@Model.staffid1</td>
        <td><b>Name :</b></td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td><b>Father’s/Husband’s Name</b></td>
        <td>@Model.fathername</td>
        <td><b>Date of Birth</b></td>
        <td>@Model.dateofbirth</td>
    </tr>
    <tr>
        <td><b>Martial Status</b></td>
        <td>@Model.marriedset</td>
        <td><b>Gender</b></td>
       <td>@Model.GenderSet</td>
    </tr>
    <tr>
        <td><b>Present Address</b></td>
        <td>@Model.peraddress</td>
        <td><b>Pin</b></td>
        <td>@Model.pin</td>
    </tr>
    <tr>
        <td><b>Branch Office</b></td>
        <td>@Model.branchoffice</td>
        <td><b>Dispensary</b></td>
        <td>@Model.dispensary</td>
    </tr>
    <tr>
        <td><b>Date of Appointment</b></td>
        <td>@Model.dateofappoint</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
