@model IEnumerable<edueTree.Models.ShiftMaster>

@{
    Layout = null;
}

<div class="box box-success">
    <div class="box-header">
        <i class="fa fa-calendar"></i>
        <h3 class="box-title">Shifts</h3>
    </div>
    <div class="box-body">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Shift Name")
                    </th>
                    <th>
                        @Html.DisplayName("Start Time")
                    </th>
                    <th>
                        @Html.DisplayName("End Time")
                    </th>
                    <th>
                        @Html.DisplayName("Total Duration")
                    </th>
                    <th></th><th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.shiftName)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.startTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.endTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotolDuration)
                        </td>
                        <td>
                            <a href='@Url.Action("EditShift", new {id = item.shiftId})'><i class="fa fa-pencil-square"></i> <span class="hidden-sm hidden-xs"></span></a>
                        </td>
                        <td>
                            <a data-toggle="modal" data-target="#myModalPermissionDelete" href='@Url.Action("ShiftDelete", new {id = item.shiftId})'><i class="fa fa-trash"></i></a>
                        </td>

                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="myModalPermissionDelete" role="dialog"></div>
    </div>
</div>



<script>
    $(function () {
        //$.noConflict();
        //$("#example1").DataTable();
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

    });

</script>