@using edueTree.Helpers
@model edueTree.Models.StaffDesignModel

@{
    ViewBag.Title = "Add";    
}
<style type="text/css">
    .datepicker {
        z-index: 100000;
    }

    a[type="button"] {
        border-radius: 3px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid transparent;
        background-color: #f4f4f4;
        cursor: pointer;
        padding: 7px;
        margin-right: 8px;
        width: auto;
        text-decoration: none;
        color: #444;
        border-color: #ddd;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        user-select: none;
        background-image: none;
    }
</style>

<section class="content">
    <div class="row">
        <section class="col-md-7 col-md-offset-3">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-plus-square"></i>                   
                    <h4 class="box-title">Add</h4>
                </div>

                <div class="box-body chat" id="chat-box">
                    <div class="item">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal" id="defaultForm">                              
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(a => a.StaffId)
                                <div class="form-group">
                                    @Html.Label("Staff name:", new {@class = "control-label col-md-3"})
                                    <div class="col-md-9">
                                        @Html.DisplayFor(a => a.StaffName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Designation:", new {@class = "control-label col-md-3"})
                                    <div class="col-md-9">                                      
                                        @Html.DropDownList("DesignId", (IEnumerable<SelectListItem>)ViewBag.designationId, "Select Designation", new { id = "DesignId", @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.DesignId)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("From Date:", new {@class = "control-label col-md-3"})
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.DateFrom, new { id = "JoiningDate", @class = "form-control datepicker", placeholder = "Select from date", required = "required" })
                                        @Html.ValidationMessageFor(model => model.DateFrom)
                                    </div>
                                </div>
                                <hr/>

                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-10">
                                        <input type="submit" value="Add" class="btn btn-default"/>
                                        @Html.EncodedActionLink("Cancel", "StaffDashboard", "Staffs", new { staffid = Model.StaffId }, new { Type = "button" })
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


<script type="text/javascript">


    $('#JoiningDate').datepicker({
        dateFormat: 'dd-mm-yy',
        minDate: '+5d',
        changeMonth: true,
        changeYear: true,
        autoclose: true,
        JoiningDate: "#JoiningDate",
        altFormat: "yy-mm-dd"
    }).on('changeDate', function(ev) {
        $(this).datepicker('hide');
    });;

</script>


@*<script type="text/javascript">
    $(document).ready(function () {

        $('#DateFrom').datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: '+5d',
            changeMonth: true,
            changeYear: true,
            autoclose: true,
            DateFrom: "#DateFrom",
            altFormat: "yy-mm-dd"
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });;


        $("#DesignId").focus();
        $("#defaultForm").bootstrapValidator({
            message: "This value is not valid",
            feedbackIcons: {
                //valid: "glyphicon glyphicon-ok",
                invalid: "glyphicon glyphicon-remove",
                validating: "glyphicon glyphicon-refresh"
            },
            fields: {
                DesignId: {
                    container: "#DesignIdMessage",
                    validators: {
                        notEmpty: {
                            message: "The Designation is required and cannot be empty"
                        }
                    }
                },
                DateFrom: {
                    container: "#DateFromMessage",
                    validators: {
                        notEmpty: {
                            message: "The from date is required and cannot be empty"
                        }
                    }
                }


            }
        });
    });
</script>*@