@model edueTree.Models.ReportingModel
@{

}

<link href="~/plugins/select2/select2.css" rel="stylesheet" />

<script src="~/plugins/select2/select2.js"></script>
<section class="content-header">
    <h1>
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Permission</a></li>
        <li class="active">Manage</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Create","Reporting"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title"> Manage Email, Reporting, Role  </h3>
                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label>select Staff </label>
                                @Html.DropDownListFor(model => model.StaffId, Model.StaffList, " - Select Employee - ", new { id = "dropStaffId", @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.StaffId, string.Empty, new { @class = "help-block" })
                                <span class="help-block" id="staffListMsg"></span>
                            </div>
                        </div>

                        <div id="partialPlaceHolder" style="display:none;"> </div>
                      
                    </div>
                    <div class="box-footer">
                        <input type="submit" value="Save" class="btn btn-default pull-right" />
                    </div>
                </div>
            }
        </div>
    </div>
    @{Html.RenderAction("Index", "Reporting");}


</section>

<script type="text/javascript">
    // assuming you're using jQuery
    $('#dropStaffId').change(function () {
        debugger;
        /* Get the selected value of dropdownlist */
        var selectedID = $(this).val();

        /* Request the partial view with .get request. */
        $.get('/Reporting/GetRoleReporting/' + selectedID, function (data) {

            /* data is the pure html returned from action method, load it to your page */
            $('#partialPlaceHolder').html(data);
            /* little fade in effect */
            $('#partialPlaceHolder').fadeIn('fast');
        });

    });
</script>


<!-- Success Notice-->
<script type="text/javascript">
    $(".select2").select2();
    $.noConflict();
    jQuery(document).ready(function () {
        if (true) {
            if ('@TempData["notice"]' === "success") {
                $.notify(" Record Inserted  Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "update") {
                $.notify(" Record Updated  Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "exist") {
                $.notify(" Record Already Exist ! ", "warn");
            }
            if ('@TempData["notice"]' === "delete") {
                $.notify(" Record Deleted Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "cantdelete") {
                $.notify(" Can't delete, because this used some where. ! ", "warn");
            }
        }

    });
</script>

