@model edueTree.Models.LeaveMasterModel

@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1><small></small></h1>
    <ol class="breadcrumb">
        <li><a href="~/LeaveRequest/CreateLeaveMaster"><i class="fa fa-list"></i>LeaveRequest</a></li>
        <li class="active">Create</li>
    </ol>
</section>



<section class="content">
    <div class="row">
        <section class="col-md-12">
            @using (Html.BeginForm())
            {
                <div class="box box-success">
                    <div class="box-header">
                        <i class="fa fa-calendar-plus-o"></i>
                        <h3 class="box-title">Add Leaves to Employee  </h3>                      
                    </div>

                    <div class="box-body chat" id="chat-box">
                        <div class="item">
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal" id="defaultForm">
                                @Html.ValidationSummary(true)                               
                                <div class="form-group">

                                    <div class="col-md-3">
                                        <label>Leave type</label>
                                        @Html.DropDownList("LevetypeIds", (IEnumerable<SelectListItem>) ViewBag.lTypeId, "--- Please select leave type ---", new {id = "LevetypeIds", @class = "form-control select2", required = "required"})
                                        @Html.ValidationMessageFor(model => model.LevetypeIds, string.Empty, new { @class = "help-block" })                                      
                                    </div>
                                  
                                    <div class="col-md-2">
                                        <label>Days</label>
                                        @Html.TextBoxFor(model => model.totalLeaves, new { id = "totalDays", @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.totalLeaves, string.Empty, new { @class = "help-block" })                                       
                                    </div>                                  

                                    <div class="col-md-12">                                       
                                        <label>Select Multiple Employee:</label>
                                        @Html.DropDownListFor(model => model.StaffId, Model.StaffList, new { id = "StaffId", @class = "form-control select2", @multiple = "multiple", placeholder = "select staff", required = "required" })
                                        @Html.ValidationMessageFor(model => model.StaffId, string.Empty, new { @class = "help-block" })                                                                                                                        
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-10"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="box-footer">

                        <input type="submit" value="Deduct" name="deduct" class="btn btn-default pull-right " />
                        <input type="submit" value="Add" name="add" class="btn btn-default col-md-offset-9" />
                        <a href='@Url.Action("Upload", "LeaveUpload")' class="btn btn-default pull-left">Back to list</a>
                    </div>
                </div>
            }
        </section>
    </div>
</section>

<link href="~/plugins/select2/select2.min.css" rel="stylesheet" />
<script type="text/javascript">

    jQuery(document).ready(function () { $(".select2").select2(); });
</script>
<script type="text/javascript">
    $.noConflict();
    jQuery(document).ready(function() {
        if (true) {
            if ('@TempData["notice"]' === "success") {
                $.notify(" Record Inserted  Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "update") {
                $.notify(" Record Updated  Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "exist") {
                $.notify(" Record Already Exist ! ", "warn");
            }
            if ('@TempData["notice"]' === "delete") {
                $.notify(" Record Deleted Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "cantdelete") {
                $.notify(" Can't delete, because this used some where. ! ", "warn");
            }
        }

    });
</script>