@model IEnumerable<edueTree.Models.LeaveRequestModel>
@{
    ViewBag.Title = "LeaveRequestListForSeniours";
}

<link href="~/plugins/select2/select2.css" rel="stylesheet" />
<script src="~/plugins/select2/select2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".select2").select2();
        $('#datepicker2').datepicker({
            dateFormat: "dd/mm//yy",
            autoclose: true,
        });

        $('#datepicker1').datepicker({
            dateFormat: "dd/mm/yy",
            autoclose: true,
        });
    });

    $(function () {
        jQuery.ajax({
            type: 'POST',
            url: '/LeaveRequest/GetStaffUnderMgr',
            data: {},
            datatype: 'json',
            error:
                function () {
                    alert("Not any Staff");
                },
            success: function (response) {
                var items = "";
                $(response.SubcatId).each(function (i, item) {
                    //if (i == 0) {
                    //    items += "<option value=\"" + 0 + "\">Select Employee</option>";
                    //}
                    //else {                  
                    items += "<option value=\"" + item + "\">" + response.Subcat[i] + "</option>";
                    //}
                });

                $("#empId").html(items);
                if (strUser !== 0) {
                    $("#empId option:selected").text(strUser);
                }
            }
        });
    });
</script>


<section class="col-md-12">
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-search"></i>
            <h3 class="box-title">Search Options - You can search Daily,Weekly & Monthly</h3>
        </div>

        <div class="box-body chat">
            <div class="item">
                @using (Html.BeginForm("LeavesMasterManager", "LeaveRequest", FormMethod.Get))
                {
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Date - From:", new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.TextBox("datepicker", null, new { id = "datepicker1", @class = "form-control datepicker" })
                            </div>
                            @Html.Label("To:", new { @class = "control-label col-md-1" })
                            <div class="col-md-2">
                                @Html.TextBox("datepicker2", null, new { id = "datepicker2", @class = "form-control datepicker" })
                            </div>
                            <div class="col-md-4">
                                @*<select id="empId" name="empId" class="form-control"></select>*@
                                @Html.DropDownList("empId", (IEnumerable<SelectListItem>)ViewBag.staffid, "Select Employee", new { @class = "form-control select2" })


                            </div>
                            <div class="col-md-1">
                                <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-filter"></i> Filter</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="row">
        <section class="col-lg-12 connectedSortable">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-calendar"></i>
                    <h3 class="box-title"> Leave Request List</h3>
                </div>
                <div class="box-body chat" id="chat-box">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="col-xs-1">
                                        @Html.DisplayName("User Name")
                                    </th>
                                    <th class="col-xs-2">
                                        @Html.DisplayName("Employee Name")
                                    </th>
                                    <th class="col-xs-2">
                                        @Html.DisplayName("From date")
                                    </th>

                                    <th class="col-xs-2">
                                        @Html.DisplayName("To date")
                                    </th>
                                    <th class="col-xs-2">
                                        @Html.DisplayName("Leave Type")
                                    </th>
                                    <th class="col-xs-2">
                                        @Html.DisplayName("Leave Apply Date")
                                    </th>
                                    <th class="col-xs-2">
                                        @Html.DisplayName("Leave count")
                                    </th>
                                    @*<th class="col-xs-2">
                                            @Html.DisplayName("Rejoining date")
                                        </th>*@
                                    <th class="col-xs-1">
                                        @Html.DisplayName("Status")
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="col-xs-1">
                                            @Html.DisplayFor(modelItem => item.Staffcode)
                                        </td>
                                        <td class="col-xs-2">
                                            @Html.DisplayFor(modelItem => item.Fullname)                                         
                                        </td>
                                        <td class="col-xs-3">
                                            @Convert.ToDateTime(item.dateFrom).ToString("dd MMM yyyy")
                                            (@Html.DisplayFor(modelItem => item.sesionDateFrom))
                                        </td>

                                        <td class="col-xs-3">
                                            @Convert.ToDateTime(item.dateTo).ToString("dd MMM yyyy")
                                            (@Html.DisplayFor(modelItem => item.sesionDateTo))
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LeaveTyp)
                                        </td>

                                        <td class="col-xs-1">
                                            @Convert.ToDateTime(item.createdDate).ToString("dd MMM yyyy")
                                        </td>

                                        <td class="col-xs-1">
                                            @Convert.ToDecimal(item.totalCounts).ToString("0.##")
                                        </td>
                                        @*<td class="col-xs-1">
                                                @Convert.ToDateTime(item.rejoing).ToString("dd MMM yyyy")

                                            </td>*@
                                        @if (item.status == "Approved")
                                        {
                                            <td class="col-xs-1">
                                                <span class="" style="color: green"> @Html.DisplayName("Approved")</span>
                                            </td>
                                        }
                                        else if (item.status == "Rejected")
                                        {
                                            <td class="col-xs-1">
                                                <span class="" style="color: red"> @Html.DisplayName("Rejected")</span>
                                            </td>
                                        }
                                        else if (item.status == "Planned")
                                        {
                                            <td class="col-xs-1">
                                                <span class="" style="color: blue"> @Html.DisplayName("Planned")</span>
                                            </td>
                                        }
                                        else if (item.status == "Requested")
                                        {
                                            <td class="col-xs-1">
                                                <span class="" style="color: blue"> @Html.DisplayName("Requested")</span>
                                            </td>
                                        }

                                        @if (item.status == "Planned" || item.status == "Requested")
                                        {
                                            <td>
                                                <a data-toggle="modal" data-target="#myModalLeaveApproved" href='@Url.Action("Edit", new { id = item.tranId, status = true, ActionName = "LeavesMasterManager" })'>
                                                    <i class="fa fa-check" style="color: green"></i> <span class="hidden-sm hidden-xs"></span>
                                                </a>
                                                <div class="modal fade" id="myModalLeaveApproved" role="dialog"></div>
                                            </td>
                                            <td>
                                                <a data-toggle="modal" data-target="#myModalLeaveRejected" href='@Url.Action("Edit", new { id = item.tranId, ActionName = "LeavesMasterManager" })'>
                                                    <i class="fa fa-times" style="color: red"></i><span class="hidden-sm hidden-xs"></span>
                                                </a>
                                                <div class="modal fade" id="myModalLeaveRejected" role="dialog"></div>
                                            </td>
                                            <td>
                                                <a data-toggle="modal" data-target="#myModalLeaveEdit" href='@Url.Action("LeaveMasterEdit", new { id = item.tranId, actionName = "LeavesMasterManager" })'>
                                                    <i class="fa fa-pencil-square" aria-hidden="true"></i><span class="hidden-sm hidden-xs"></span>
                                                </a>
                                                <div class="modal fade" id="myModalLeaveEdit" role="dialog"></div>
                                            </td>
                                            <td>
                                                <a data-toggle="modal" data-target="#myModaLVDelete" href='@Url.Action("DeleteLeaveRequestMgr", new { id = item.tranId })'><i class="fa fa-trash"></i></a>
                                                <div class="modal fade" id="myModaLVDelete" role="dialog"></div>
                                            </td>
                                        }
                                        @if (item.status == "Approved")
                                        {
                                            <td></td>
                                            <td>
                                                <a data-toggle="modal" data-target="#myModalLeaveRejected" href='@Url.Action("RejectAfterApproval", new { id = item.tranId, ActionName = "LeavesMasterManager" })'>
                                                    <i class="fa fa-times" style="color: red"></i><span class="hidden-sm hidden-xs"></span>
                                                </a>
                                                <div class="modal fade" id="myModalLeaveRejected" role="dialog"></div>
                                            </td>
                                            
                                            <td>
                                                @*<a data-toggle="modal" data-target="#myModalLeaveEdit" href='@Url.Action("EditLeavesAfterApproval", new { id = item.tranId, status = "true", actionName = "LeavesMasterManager" })'>
                                                <i class="fa fa-pencil-square" aria-hidden="true"></i><span class="hidden-sm hidden-xs"></span>
                                            </a>
                                            <div class="modal fade" id="myModalLeaveEdit" role="dialog"></div>*@

                                                <a href='@Url.Action("EditLeavesAfterApproval", new { id = item.tranId, status = "true", actionName = "LeavesMasterManager" })'>
                                                    <i class="fa fa-pencil-square" aria-hidden="true"></i><span class="hidden-sm hidden-xs"></span>
                                                </a>
                                                

                                            </td>
                                            <td>
                                                <a data-toggle="modal" data-target="#myModaLVDelete" href='@Url.Action("DeleteLeaveRequestAfterAppMgr", new { id = item.tranId })'><i class="fa fa-trash"></i></a>
                                                <div class="modal fade" id="myModaLVDelete" role="dialog"></div>
                                            </td>
                                        }
                                        @if (item.status == "Rejected")
                                        {
                                            <td></td>
                                            <td>
                                                <a data-toggle="modal" data-target="#myModaLVDelete" href='@Url.Action("DeleteLeaveRequestAfterReject", new { id = item.tranId, actionName = "LeavesMasterManager" })'><i class="fa fa-trash"></i></a>
                                                <div class="modal fade" id="myModaLVDelete" role="dialog"></div>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </section>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    });

</script>

<script type="text/javascript">
    $.noConflict();
    jQuery(document).ready(function () {
        if (true) {
            if ('@TempData["notice"]' === "success") {
                $.notify(" Record Inserted  Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "update") {
                $.notify(" Record Updated  Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "exist") {
                $.notify(" Record Already Exist ! ", "warn");
            }
            if ('@TempData["notice"]' === "delete") {
                $.notify(" Record Deleted Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "cantdelete") {
                $.notify(" Can't delete, because this used some where. ! ", "warn");
            }
            if ('@TempData["notice"]' === "change") {
                $.notify(" Password Change Successfully ! ", "success");
            }
            if ('@TempData["notice"]' === "notenough") {
                $.notify(" You do not have enough leave balance ! ", "error");
            }
        }

    });
</script>
