@{
    ViewBag.Title = "Features | Innovative-Fusion";
    ViewBag.MetaDescription = "Innovative Fusion provides complete HRMS solutions for all small, medium and large size businesses at affordable cost to all over the world.";
    ViewBag.MetaKeywords = "hrms solutions, hrms services, Leave management, Attendance Module, HRMS Mobile Application, Traning Module, E-learning Module, Performance Module, Notice board, Tracker App,  Shift management, Payroll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link type="text/css" rel="stylesheet" href="//cz.zohostatic.com/sites/default/files/advagg_css/css__zVi9nx0jcXdlYeof5rqaLAeqWj4fsN9DknApfk0A1VY__CcslNrd3QLk65cKhpMqxbDrffIocIovCbZ0lc05zFO8__4QoN5NU1fGaAPHqn0AaDsuPKA310WgjQ2tkuIj-wU6M.css" media="all">*@
<link href="~/Content/14295.css" rel="stylesheet" />
<link href="~/Content/zohocustom.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="//cz.zohostatic.com/sites/default/files/advagg_css/css__rj_qKboswMyY_8YRxWouCOr8pDn4VbPMlR-msC8J9IM__SPznXVepJwxJ3z317eIAFB2QqkJfckVJSo6OJojuIMk__4QoN5NU1fGaAPHqn0AaDsuPKA310WgjQ2tkuIj-wU6M.css" media="all">
<link type="text/css" rel="stylesheet" href="//cz.zohostatic.com/sites/default/files/cpn/8146.css?" media="all">
<link type="text/css" rel="stylesheet" href="//cz.zohostatic.com/sites/default/files/advagg_css/css__Vah219wvuSPnA34MNg64jiALnOf6xYZwjco_EDYmyD8__kPsGD5fuH7s1d8GeuM7r3JlEmwcDhZ4D4jrT7gh4BcE__4QoN5NU1fGaAPHqn0AaDsuPKA310WgjQ2tkuIj-wU6M.css" media="all"><!-- HTML5 element support for IE6-8 --><!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script type="text/javascript" src="//jz.zohostatic.com/sites/default/files/advagg_js/js__AgRatc2YgA7Bc7HSwg4rBd7IipyLsWSayBINYqo0tlw___N9EsaqrQbkHVwIcGUZyGWiEKeh4TwOKolXJ15kdGAw__4QoN5NU1fGaAPHqn0AaDsuPKA310WgjQ2tkuIj-wU6M.js"></script>
@*<script type="text/javascript" src="//jz.zohostatic.com/sites/all/themes/zoho/scripts/zohocustom.js?"></script>*@


<script src="~/Scripts/zoho1.js"></script>


<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-8146 node-type-features og-context og-context-node og-context-node-3434 i18n-en">
    <script type="text/javascript">
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0];
            var j = d.createElement(s);
            var dl = l != 'dataLayer' ? '&l=' + l : '';
            j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            j.type = 'text/javascript';
            j.async = true;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KBNVHH');
    </script><!-- End Google Tag Manager -->
    <div class="main-container-wrapper">
        <div class="main-container blog">
            <div class="row nomargin">
                <section>
                    <div class="region region-content">
                        <section id="block-panels-mini-people-request-demo" class="block block-panels-mini clearfix">
                            <div id="mini-panel-people_request_demo">

                                <style>
                                    .req-demo-wrap {
                                        max-width: 350px;
                                        width: 100%;
                                    }

                                    .demo-form {
                                        box-sizing: border-box;
                                        padding: 10px 0 5px 0;
                                        position: relative;
                                        width: 100%;
                                    }

                                        .demo-form label {
                                            color: #666;
                                            display: block;
                                            font-size: 14px;
                                            font-weight: 400;
                                            line-height: 22px;
                                            padding-bottom: 5px;
                                        }

                                    .req-text {
                                        border: 1px solid #e4e4e4;
                                        box-sizing: border-box;
                                        font-size: 14px;
                                        padding: 2px 5px;
                                        width: 100%;
                                        font-weight: 400;
                                        margin-bottom: 5px;
                                    }

                                    .demo-form select, .demo-form textarea {
                                        width: 100%;
                                        display: inline-block;
                                        border: 1px solid #e4e4e4;
                                        box-sizing: border-box;
                                        padding: 2px 5px;
                                    }

                                    .btn {
                                        -moz-user-select: none;
                                        background-image: none;
                                        border: 1px solid transparent;
                                        border-radius: 0px;
                                        cursor: pointer;
                                        display: inline-block;
                                        font-size: 14px;
                                        font-weight: normal;
                                        line-height: 1.42857;
                                        margin-bottom: 0;
                                        padding: 6px 25px;
                                        text-align: center;
                                        vertical-align: middle;
                                        white-space: nowrap;
                                    }

                                    input, button, select, textarea {
                                        font-size: 14px;
                                    }

                                    .request-drop-wrap.open .request-form-wrap {
                                        width: 330px;
                                    }

                                    #mini-panel-people_request_demo .red {
                                        color: red;
                                        font-weight: normal;
                                        padding-left: 3px;
                                    }
                                </style>
                            </div>
                        </section>
                        <section id="block-system-main" class="block block-system clearfix">
                            <div class="panel-display container-fluid padding0i">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0i backend-layout-top">
                                        <div class="panel-panel panel-region-preface">
                                            <div class="inside">
                                                <div class="views-table cols-0">
                                                    <div class="features-item right-image">
                                                        <div class="content-wrap">
                                                            <div class="cont-part">
                                                                <h2>
                                                                    <a>Leave Management</a>
                                                                </h2>
                                                                <p>InnoPeople HRMS simplifies the leave management process. It provides the flexibility to create and manage leave policies. You can track absence pattern to improve work efficiency.</p><ul class="related mT10"><li>Create multiple custom leave types</li><li>Centralized Tracking of all Employee leave Balance</li><li>Employee can apply online for posted dated leaves</li></ul><a href="@Url.Action("leavemanagement", "hrms")">Learn More</a>

                                                            </div>

                                                            <div class="text-center">
                                                                <div class="ds-1col file file-image file-image-png view-mode-default clearfix">
                                                                    <img src="~/Content/images/leave-management-innovative-fusion-2.png" alt="" />
                                                                </div>
                                                            </div>
                                                            <div class="html-part"></div>
                                                        </div>
                                                        <div class="promo-wrap"></div>
                                                    </div>
                                                    <div class="features-item left-image">
                                                        <div class="content-wrap">

                                                            @*<div class="cont-part">
                                                                    <br /><br /><br /><br /><br /><br /><br />
                                                                    <p></p><ul class="related mT10"><li>Department wise Employee Attendance report </li><li>At Month End Generate attendance</li><li>Algorithm for total time calculation</li><li>Intuitive web and mobile check-in and check-out</li><li>Geo location tracking for mobile check-in and check-out</li><li>API to integrate the Attendance Cloud system with attendance terminals</li></ul>
                                                                </div>*@
                                                            <div class="cont-part pull-left">
                                                                <h2>
                                                                    @*<a href="/people/attendance-tracker.html">Attendance Management</a>*@
                                                                    <a>Attendance Management</a>
                                                                </h2>
                                                                <p>Attendance Management- Create customized attendance policies as per your organizational needs with our time tracking and attendance monitoring system.</p><ul class="related mT10"><li>Supports multiple third party machines</li><li>Manual attendance can be submitted online</li><li>Multiple check-in check-out in a shift</li></ul> <a href="@Url.Action("attendancemanagement", "hrms")">Learn More</a>
                                                            </div>

                                                            <div class="text-center">
                                                                <div class="ds-1col file file-image file-image-png view-mode-default clearfix" style="margin-top: 10px;">
                                                                    <br /><br /><br />
                                                                    <img src="~/Content/images/attendance-management-innovative-fusion-innopeople.png" alt="" style="margin-top: 30px;" />
                                                                </div>
                                                            </div>
                                                            <div class="html-part"></div>
                                                        </div>
                                                        <div class="promo-wrap"></div>
                                                    </div>
                                                    @*<div class="features-item right-image">
                                                            <div class="content-wrap">
                                                                <div class="cont-part">
                                                                    <h2>
                                                                        <a href="/people/time-tracker.html">Time Tracker</a>
                                                                    </h2>
                                                                    <p>HRMS People's Time tracker helps you keep track of your employees’ work. Regularly monitor your team's efficiency and improve their overall productivity.</p><ul class="related mT10"><li>Schedule jobs and work items</li><li>Record job entries on a weekly and monthly basis</li><li>Log both billable and non-billable hours</li><li>Get clear and accurate reports</li></ul> <a href="#">Learn More</a>
                                                                </div>
                                                                <div class="image-part">
                                                                    <div class="ds-1col file file-image file-image-png view-mode-default clearfix">
                                                                        <img typeof="foaf:Image" src="//iz.zohostatic.com/sites/default/files/time-tracker_0.png" width="900" height="1020" alt="">
                                                                    </div>
                                                                </div>
                                                                <div class="html-part"></div>
                                                            </div>
                                                            <div class="promo-wrap"></div>
                                                        </div>
                                                        <div class="features-item left-image">
                                                            <div class="content-wrap">
                                                                <div class="cont-part">
                                                                    <h2>
                                                                        <a href="/people/customization.html">Form Customization</a>
                                                                    </h2>
                                                                    <p>Customize HRMS People to suit your needs and reflect your brand.</p><ul class="related mT10"><li>Build custom modules using drag-and-drop tools</li><li>Clone forms</li><li>Role Based permissions for individual forms and fields</li><li>Formula fields to perform calculations</li></ul> <a href="#">Learn More</a>
                                                                </div>
                                                                <div class="image-part">
                                                                    <div class="ds-1col file file-image file-image-png view-mode-default clearfix">
                                                                        <img typeof="foaf:Image" src="//iz.zohostatic.com/sites/default/files/form-customization.png" width="900" height="1020" alt="Form Customization">
                                                                    </div>
                                                                </div>
                                                                <div class="html-part"></div>
                                                            </div>
                                                            <div class="promo-wrap"></div>
                                                        </div>*@
                                                    <div class="features-item right-image">
                                                        <div class="content-wrap">
                                                            <div class="cont-part">
                                                                <h2>
                                                                    @*<a href="/people/performance-appraisal.html">Performance Appraisal</a>*@
                                                                    <a>Performance Appraisal</a>
                                                                </h2>
                                                                <p>HRMS inno People helps you analyze the abilities and performance of your employees. Run performance appraisal cycles to complete the review in a systematic way</p><ul class="related mT10"><li>360 degree feedback</li><li>evaluator can do rating of employee</li><li>Employee can do self-rating</li></ul> <a href="@Url.Action("performancemanagement", "hrms")">Learn More</a>
                                                            </div>
                                                            <div class="text-center">
                                                                <div class="ds-1col file file-image file-image-png view-mode-default clearfix">
                                                                    <br />
                                                                    <img src="~/Content/images/performance-management-innovative-fusion-innopeople.png" alt="" style="margin-top: 30px;" />
                                                                </div>
                                                            </div>
                                                            <div class="html-part"></div>
                                                        </div>
                                                        <div class="promo-wrap"></div>
                                                    </div>
                                                    <div class="features-item left-image">
                                                        <div class="content-wrap">
                                                            <div class="cont-part pull-left">
                                                                <h2>
                                                                    Employee Self Service.
                                                                </h2>
                                                                <p>With HRMS People’s self-service feature employees can access and update their own records based on established rules. Make your HR staff more efficient by freeing them from manually entering updates.</p><ul class="related mT10"><li>Ability to access and maintain one's own record</li><li>View attendance reports, leave reports and leave balances</li><li>Add jobs and log time for timesheets</li><li>View all approvals and permissions</li><li>Access announcements and collaborate through feeds</li></ul> <a href="#"></a>
                                                            </div>
                                                            <div class="text-center">
                                                                <div class="ds-1col file file-image file-image-png view-mode-default clearfix">
                                                                    @*<img typeof="foaf:Image" src="//iz.zohostatic.com/sites/default/files/n-self-service_2.png" width="900" height="1020" alt="Employee Self Service">*@
                                                                    <img src="~/Content/images/Employee-self-service-innovative-fusion-innopeople.png" width="900" height="1020" alt="Employee Self Service">
                                                                </div>
                                                            </div>
                                                            <div class="html-part"></div>
                                                        </div>
                                                        <div class="promo-wrap"></div>
                                                    </div>
                                                    <div class="features-item right-image">
                                                        <div class="content-wrap">
                                                            <div class="cont-part">
                                                                <h2>
                                                                    <a>Training Management</a>
                                                                </h2>
                                                                <p>Inno people HRMS provides training and management facility a system for organizations to administer and track employee training and development efforts.</p><ul class="related mT10"><li>Ability to create and manage training</li><li>Maintain monthly training target list</li></ul> <a href="@Url.Action("trainingmanagement", "hrms")">Learn More</a>
                                                            </div>
                                                            <div class="ds-1col file file-image file-image-png view-mode-default clearfix">
                                                                <img src="~/Content/images/training-management-innovative-fusion-innopeople.png" alt="" style="margin-top: 30px;" />
                                                            </div>
                                                            <div class="promo-wrap"></div>
                                                        </div>
                                                    </div>
                                                    <div class="features-item right-image">
                                                        <div class="content-wrap">
                                                            <div class="cont-part">
                                                                <h2>
                                                                    <a>E-learning</a>
                                                                </h2>
                                                                <p>E-learning platform helps in effective online education.</p><ul class="related mT10"><li>Organization can custom create/edit a course</li><li>Create custom course</li><li>Import and create documents</li></ul> <a href="@Url.Action("elearning", "hrms")">Learn More</a>
                                                            </div>
                                                            <div class="text-center">
                                                                <div class="ds-1col file file-image file-image-png view-mode-default clearfix">
                                                                    <br />
                                                                    <img src="~/Content/images/elearning-management-innovative-fusion-innopeople.png" alt="" style="margin-top: 30px;" />
                                                                </div>
                                                            </div>
                                                            <div class="html-part"></div>
                                                        </div>
                                                        <div class="promo-wrap"></div>
                                                    </div>
                                                    <div class="features-item right-image">
                                                        <div class="content-wrap">
                                                            <div class="cont-part">
                                                                <h2>
                                                                    <a>Notice Board</a>
                                                                </h2>
                                                                <p>HRMS Inno help people display essential information on the board.The organization can use the board to display related to notices, meetings and events.</p><ul class="related mT10"><li>You can broadcast notice in board which is visible to all employees</li><li>Upcoming Birthday , Anniversary  Tenure and Probation Period </li></ul> <a href="@Url.Action("noticemanagement", "hrms")">Learn More</a>
                                                            </div>
                                                            <div class="text-center">
                                                                <div class="ds-1col file file-image file-image-png view-mode-default clearfix">
                                                                    <br /><img src="~/Content/images/notice-management-innovative-fusion-innopeople.png" alt="" style="margin-top: 30px;" />
                                                                </div>
                                                            </div>
                                                            <div class="html-part"></div>
                                                        </div>
                                                        <div class="promo-wrap"></div>
                                                    </div>
                                                    <div class="features-item right-image">
                                                        <div class="content-wrap">
                                                            <div class="cont-part">
                                                                <h2>
                                                                    @*<a href="/people/time-tracker.html">Time Tracker</a>*@
                                                                    <a>Tracker App</a>
                                                                </h2>
                                                                <p>HRMS inno people provides attendance facility through tracker app</p><ul class="related mT10"><li>Intuitive and flexible mobile check-in & check-out for attendance marking</li><li>Search for members by department, name, designation and email ID</li><li>Multiple login is allowed with GPS location</li></ul> <a href="@Url.Action("trackerapp", "hrms")">Learn More</a>
                                                            </div>
                                                            <div class="text-center">
                                                                <div class="ds-1col file file-image file-image-png view-mode-default clearfix">
                                                                    <br />
                                                                    <img src="~/Content/images/hrms-tracker-app-innovative-fusion-innopeople.png" alt="" />
                                                                </div>
                                                            </div>
                                                            <div class="html-part"></div>
                                                        </div>
                                                        <div class="promo-wrap"></div>
                                                    </div>
                                                    <div class="features-item right-image">
                                                        <div class="content-wrap">
                                                            <div class="cont-part">
                                                                <h2>
                                                                    <a>Shift Management</a>
                                                                </h2>
                                                                <p>Shift in an organization help to maintain discipline of checkin’s and checkout’s for employees.</p><ul class="related mT10"><li>Easily create and manage shifts for employees across teams</li><li>you can easily manage rotational shift. What's more, hrms also supports American, British, Australian shifts!</li></ul> <a href="@Url.Action("shiftmanagement", "hrms")">Learn More</a>
                                                            </div>
                                                            <div class="text-center">
                                                                <div class="ds-1col file file-image file-image-png view-mode-default clearfix">
                                                                    <img src="~/Content/images/Shift-management-innovative-fusion-innopeople.png" alt="" style="margin-top: 20px;" />
                                                                </div>
                                                            </div>
                                                            <div class="html-part"></div>
                                                        </div>
                                                        <div class="promo-wrap"></div>
                                                    </div>
                                                    <div class="features-item right-image">
                                                        <div class="content-wrap">
                                                            <div class="cont-part">
                                                                <h2>
                                                                    <a>Payroll Management</a>
                                                                </h2>
                                                                <p>Payroll module automates the pay process by gathering data on employee time and attendance, calculating various deductions and taxes and employee tax reports.</p><ul class="related mT10"><li>You can add allowances</li><li>Employee can send online request for allowances</li><li>Organizations can approve and reject allowances</li></ul> <a href="@Url.Action("payrollmanagement", "hrms")">Learn More</a>
                                                            </div>
                                                            <div class="text-center">
                                                                <div class="ds-1col file file-image file-image-png view-mode-default clearfix">
                                                                    <img src="~/Content/images/payroll-management-innovative-fusion-innopeople.png" alt="" style="margin-top: 30px;" />
                                                                </div>
                                                            </div>
                                                            <div class="html-part"></div>
                                                        </div>
                                                        <div class="promo-wrap"></div>
                                                    </div>
                                                    <div class="features-item right-image">
                                                        <div class="content-wrap">



                                                            <div class="html-part"></div>
                                                        </div><div class="promo-wrap"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="container padding0i">
                                    <div class="row">
                                        <div class="panel-panel panel-region-preface backend-layout-right full-width">
                                            <div class="inside">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
